In [1]:
import pandas as pd
import numpy as np 
# File path
file_path = r"C:\Users\Khushi\Downloads\Assignment.xlsx"

# Read the sheets using the Sheet names

In [2]:

user_details = pd.read_excel(file_path, sheet_name="UserDetails.csv")
cooking_sessions = pd.read_excel(file_path, sheet_name="CookingSessions.csv")
order_details = pd.read_excel(file_path, sheet_name="OrderDetails.csv")

# Print the data from Iser Details sheet

In [3]:

print("User Details:")
print(user_details.head())

User Details:
  User ID      User Name  Age       Location Registration Date         Phone  \
0    U001  Alice Johnson   28       New York        2023-01-15  123-456-7890
1    U002      Bob Smith   35    Los Angeles        2023-02-20  987-654-3210
2    U003    Charlie Lee   42        Chicago        2023-03-10  555-123-4567
3    U004    David Brown   27  San Francisco        2023-04-05  444-333-2222
4    U005     Emma White   30        Seattle        2023-05-22  777-888-9999

               Email Favorite Meal  Total Orders
0    alice@email.com        Dinner            12
1      bob@email.com         Lunch             8
2  charlie@email.com     Breakfast            15
3    david@email.com        Dinner            10
4     emma@email.com         Lunch             9

# print the data from cooking session sheet

In [4]:
print("Cooking Sessions:")
print(cooking_sessions.head())

Cooking Sessions:
  Session ID User ID        Dish Name  Meal Type       Session Start  \
0       S001    U001        Spaghetti     Dinner 2024-12-01 19:00:00
1       S002    U002     Caesar Salad      Lunch 2024-12-01 12:00:00
2       S003    U003  Grilled Chicken     Dinner 2024-12-02 19:30:00
3       S004    U001         Pancakes  Breakfast 2024-12-02 07:30:00
4       S005    U004     Caesar Salad      Lunch 2024-12-03 13:00:00

          Session End  Duration (mins)  Session Rating
0 2024-12-01 19:30:00               30             4.5
1 2024-12-01 12:20:00               20             4.0
2 2024-12-02 20:10:00               40             4.8
3 2024-12-02 08:00:00               30             4.2
4 2024-12-03 13:15:00               15             4.7

# print the data from order Deatils sheet

In [5]:
print("Order Details:")
print(order_details.head())

Order Details:
   Order ID User ID Order Date  Meal Type        Dish Name Order Status  \
0      1001    U001 2024-12-01     Dinner        Spaghetti    Completed
1      1002    U002 2024-12-01      Lunch     Caesar Salad    Completed
2      1003    U003 2024-12-02     Dinner  Grilled Chicken     Canceled
3      1004    U001 2024-12-02  Breakfast         Pancakes    Completed
4      1005    U004 2024-12-03      Lunch     Caesar Salad    Completed

   Amount (USD) Time of Day  Rating Session ID
0          15.0       Night     5.0       S001
1          10.0         Day     4.0       S002
2          12.5       Night     NaN       S003
3           8.0     Morning     4.0       S004
4           9.0         Day     4.0       S005

# Check the structure of user details sheet

In [6]:
print(user_details.info())
print(user_details.describe())
print("Missing values in UserDetails:", user_details.isnull().sum())
print("Duplicates in UserDetails:", user_details.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            10 non-null     object
 1   User Name          10 non-null     object
 2   Age                10 non-null     int64
 3   Location           10 non-null     object
 4   Registration Date  10 non-null     datetime64[ns]
 5   Phone              10 non-null     object
 6   Email              10 non-null     object
 7   Favorite Meal      10 non-null     object
 8   Total Orders       10 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 848.0+ bytes
None
             Age    Registration Date  Total Orders
count  10.000000                   10     10.000000
mean   31.800000  2023-05-27 02:24:00      9.400000
min    25.000000  2023-01-15 00:00:00      5.000000
25%    28.250000  2023-03-16 12:00:00      7.250000
50%    30.500000  2023-06-03 00:00:00      8.500000
75%    34.500000  2023-08-01 00:00:00     11.500000
max    42.000000  2023-10-10 00:00:00     15.000000
std     5.266245                  NaN      3.339993
Missing values in UserDetails: User ID              0
User Name            0
Age                  0
Location             0
Registration Date    0
Phone                0
Email                0
Favorite Meal        0
Total Orders         0
dtype: int64
Duplicates in UserDetails: 0

# check the structure of cooking sessions data

In [8]:
print(cooking_sessions.info())
print(cooking_sessions.describe())
print("Missing values in CookingSessions:", cooking_sessions.isnull().sum())
print("Duplicates in CookingSessions:", cooking_sessions.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Session ID       16 non-null     object
 1   User ID          16 non-null     object
 2   Dish Name        16 non-null     object
 3   Meal Type        16 non-null     object
 4   Session Start    16 non-null     datetime64[ns]
 5   Session End      16 non-null     datetime64[ns]
 6   Duration (mins)  16 non-null     int64
 7   Session Rating   16 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None
                    Session Start                    Session End  \
count                          16                             16
mean   2024-12-05 02:50:37.500000  2024-12-05 03:20:56.249999872
min           2024-12-01 12:00:00            2024-12-01 12:20:00
25%           2024-12-03 08:37:30            2024-12-03 08:58:45
50%           2024-12-05 00:30:00            2024-12-05 00:57:30
75%           2024-12-06 23:22:30            2024-12-07 00:00:00
max           2024-12-08 19:30:00            2024-12-08 20:10:00
std                           NaN                            NaN

       Duration (mins)  Session Rating
count        16.000000       16.000000
mean         30.312500        4.518750
min          10.000000        4.000000
25%          20.000000        4.300000
50%          30.000000        4.550000
75%          40.000000        4.725000
max          45.000000        5.000000
std          10.873324        0.292617
Missing values in CookingSessions: Session ID         0
User ID            0
Dish Name          0
Meal Type          0
Session Start      0
Session End        0
Duration (mins)    0
Session Rating     0
dtype: int64
Duplicates in CookingSessions: 0

# checking the structre of order_details data

In [10]:
print(order_details.info())
print(order_details.describe())
print("Missing values in OrderDetails:", order_details.isnull().sum())
print("Duplicates in OrderDetails:", order_details.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      16 non-null     int64
 1   User ID       16 non-null     object
 2   Order Date    16 non-null     datetime64[ns]
 3   Meal Type     16 non-null     object
 4   Dish Name     16 non-null     object
 5   Order Status  16 non-null     object
 6   Amount (USD)  16 non-null     float64
 7   Time of Day   16 non-null     object
 8   Rating        14 non-null     float64
 9   Session ID    16 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 1.4+ KB
None
          Order ID           Order Date  Amount (USD)     Rating
count    16.000000                   16     16.000000  14.000000
mean   1008.500000  2024-12-04 12:00:00     11.250000   4.285714
min    1001.000000  2024-12-01 00:00:00      7.000000   4.000000
25%    1004.750000  2024-12-02 18:00:00      9.000000   4.000000
50%    1008.500000  2024-12-04 12:00:00     11.500000   4.000000
75%    1012.250000  2024-12-06 06:00:00     13.125000   4.750000
max    1016.000000  2024-12-08 00:00:00     15.000000   5.000000
std       4.760952                  NaN      2.435843   0.468807
Missing values in OrderDetails: Order ID        0
User ID         0
Order Date      0
Meal Type       0
Dish Name       0
Order Status    0
Amount (USD)    0
Time of Day     0
Rating          2
Session ID      0
dtype: int64
Duplicates in OrderDetails: 0

# Droping the null values from the data as we have 2 null values in Rating column

In [11]:
order_details_cleaned = order_details.dropna(subset=['Rating'])
order_details_cleaned.isnull().sum()
order_details_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 0 to 15
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      14 non-null     int64
 1   User ID       14 non-null     object
 2   Order Date    14 non-null     datetime64[ns]
 3   Meal Type     14 non-null     object
 4   Dish Name     14 non-null     object
 5   Order Status  14 non-null     object
 6   Amount (USD)  14 non-null     float64
 7   Time of Day   14 non-null     object
 8   Rating        14 non-null     float64
 9   Session ID    14 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 1.2+ KB

In [12]:
# Merging UserDetails with OrderDetails
user_orders = pd.merge(user_details, order_details_cleaned, on='User ID', how='inner')


# Merged the result user_data with CookingSessions
merged_data = pd.merge(user_orders, cooking_sessions, on='Session ID', how='inner')


# printing the merged dataset
print(merged_data.head())

  User ID_x      User Name  Age     Location Registration Date         Phone  \
0      U001  Alice Johnson   28     New York        2023-01-15  123-456-7890
1      U001  Alice Johnson   28     New York        2023-01-15  123-456-7890
2      U001  Alice Johnson   28     New York        2023-01-15  123-456-7890
3      U002      Bob Smith   35  Los Angeles        2023-02-20  987-654-3210
4      U002      Bob Smith   35  Los Angeles        2023-02-20  987-654-3210

             Email Favorite Meal  Total Orders  Order ID  ... Time of Day  \
0  alice@email.com        Dinner            12      1001  ...       Night
1  alice@email.com        Dinner            12      1004  ...     Morning
2  alice@email.com        Dinner            12      1009  ...       Night
3    bob@email.com         Lunch             8      1002  ...         Day
4    bob@email.com         Lunch             8      1006  ...       Night

  Rating Session ID User ID_y      Dish Name_y Meal Type_y  \
0    5.0       S001      U001        Spaghetti      Dinner
1    4.0       S004      U001         Pancakes   Breakfast
2    5.0       S009      U001  Grilled Chicken      Dinner
3    4.0       S002      U002     Caesar Salad       Lunch
4    4.0       S006      U002        Spaghetti      Dinner

        Session Start         Session End Duration (mins) Session Rating
0 2024-12-01 19:00:00 2024-12-01 19:30:00              30            4.5
1 2024-12-02 07:30:00 2024-12-02 08:00:00              30            4.2
2 2024-12-05 19:00:00 2024-12-05 19:40:00              40            4.9
3 2024-12-01 12:00:00 2024-12-01 12:20:00              20            4.0
4 2024-12-03 18:30:00 2024-12-03 19:00:00              30            4.3

[5 rows x 25 columns]

# checking the structure of merged data

In [13]:
merged_data.info()
merged_data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID_x          14 non-null     object
 1   User Name          14 non-null     object
 2   Age                14 non-null     int64
 3   Location           14 non-null     object
 4   Registration Date  14 non-null     datetime64[ns]
 5   Phone              14 non-null     object
 6   Email              14 non-null     object
 7   Favorite Meal      14 non-null     object
 8   Total Orders       14 non-null     int64
 9   Order ID           14 non-null     int64
 10  Order Date         14 non-null     datetime64[ns]
 11  Meal Type_x        14 non-null     object
 12  Dish Name_x        14 non-null     object
 13  Order Status       14 non-null     object
 14  Amount (USD)       14 non-null     float64
 15  Time of Day        14 non-null     object
 16  Rating             14 non-null     float64
 17  Session ID         14 non-null     object
 18  User ID_y          14 non-null     object
 19  Dish Name_y        14 non-null     object
 20  Meal Type_y        14 non-null     object
 21  Session Start      14 non-null     datetime64[ns]
 22  Session End        14 non-null     datetime64[ns]
 23  Duration (mins)    14 non-null     int64
 24  Session Rating     14 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(4), object(14)
memory usage: 2.9+ KB

User ID_x            0
User Name            0
Age                  0
Location             0
Registration Date    0
Phone                0
Email                0
Favorite Meal        0
Total Orders         0
Order ID             0
Order Date           0
Meal Type_x          0
Dish Name_x          0
Order Status         0
Amount (USD)         0
Time of Day          0
Rating               0
Session ID           0
User ID_y            0
Dish Name_y          0
Meal Type_y          0
Session Start        0
Session End          0
Duration (mins)      0
Session Rating       0
dtype: int64

In [14]:
#printing the column names from merged_data table
print(merged_data.columns)

Index(['User ID_x', 'User Name', 'Age', 'Location', 'Registration Date',
       'Phone', 'Email', 'Favorite Meal', 'Total Orders', 'Order ID',
       'Order Date', 'Meal Type_x', 'Dish Name_x', 'Order Status',
       'Amount (USD)', 'Time of Day', 'Rating', 'Session ID', 'User ID_y',
       'Dish Name_y', 'Meal Type_y', 'Session Start', 'Session End',
       'Duration (mins)', 'Session Rating'],
      dtype='object')

In [15]:
#printing the columns User_ID_x and User_id_y to compare the rows with eachother

print(merged_data[['User ID_x', 'User ID_y']])

   User ID_x User ID_y
0       U001      U001
1       U001      U001
2       U001      U001
3       U002      U002
4       U002      U002
5       U002      U002
6       U003      U003
7       U004      U004
8       U004      U004
9       U005      U005
10      U005      U005
11      U006      U006
12      U007      U007
13      U008      U008

In [16]:
# Assuming merged_data is our DataFrame
merged_data.columns = merged_data.columns.str.replace('_y', '')

# Display the updated DataFrame
print(merged_data)

# Save the DataFrame to a CSV file
merged_data.to_csv('merged_data.csv', index=False)

   User ID_x      User Name  Age       Location Registration Date  \
0       U001  Alice Johnson   28       New York        2023-01-15
1       U001  Alice Johnson   28       New York        2023-01-15
2       U001  Alice Johnson   28       New York        2023-01-15
3       U002      Bob Smith   35    Los Angeles        2023-02-20
4       U002      Bob Smith   35    Los Angeles        2023-02-20
5       U002      Bob Smith   35    Los Angeles        2023-02-20
6       U003    Charlie Lee   42        Chicago        2023-03-10
7       U004    David Brown   27  San Francisco        2023-04-05
8       U004    David Brown   27  San Francisco        2023-04-05
9       U005     Emma White   30        Seattle        2023-05-22
10      U005     Emma White   30        Seattle        2023-05-22
11      U006    Frank Green   25         Austin        2023-06-15
12      U007     Grace King   38         Boston        2023-07-02
13      U008      Henry Lee   31          Miami        2023-08-11

           Phone              Email Favorite Meal  Total Orders  Order ID  \
0   123-456-7890    alice@email.com        Dinner            12      1001
1   123-456-7890    alice@email.com        Dinner            12      1004
2   123-456-7890    alice@email.com        Dinner            12      1009
3   987-654-3210      bob@email.com         Lunch             8      1002
4   987-654-3210      bob@email.com         Lunch             8      1006
5   987-654-3210      bob@email.com         Lunch             8      1010
6   555-123-4567  charlie@email.com     Breakfast            15      1011
7   444-333-2222    david@email.com        Dinner            10      1005
8   444-333-2222    david@email.com        Dinner            10      1012
9   777-888-9999     emma@email.com         Lunch             9      1007
10  777-888-9999     emma@email.com         Lunch             9      1013
11  888-777-6666    frank@email.com        Dinner             7      1014
12  999-888-7777    grace@email.com     Breakfast            14      1015
13  101-202-3030    henry@email.com        Dinner             5      1016

    ... Time of Day Rating Session ID User ID        Dish Name  Meal Type  \
0   ...       Night    5.0       S001    U001        Spaghetti     Dinner
1   ...     Morning    4.0       S004    U001         Pancakes  Breakfast
2   ...       Night    5.0       S009    U001  Grilled Chicken     Dinner
3   ...         Day    4.0       S002    U002     Caesar Salad      Lunch
4   ...       Night    4.0       S006    U002        Spaghetti     Dinner
5   ...     Morning    4.0       S010    U002          Oatmeal  Breakfast
6   ...     Morning    4.0       S011    U003         Pancakes  Breakfast
7   ...         Day    4.0       S005    U004     Caesar Salad      Lunch
8   ...       Night    4.0       S012    U004        Spaghetti     Dinner
9   ...       Night    4.0       S007    U005  Grilled Chicken     Dinner
10  ...         Day    4.0       S013    U005     Caesar Salad      Lunch
11  ...       Night    5.0       S014    U006  Grilled Chicken     Dinner
12  ...       Night    5.0       S015    U007        Spaghetti     Dinner
13  ...         Day    4.0       S016    U008    Veggie Burger      Lunch

         Session Start         Session End Duration (mins) Session Rating
0  2024-12-01 19:00:00 2024-12-01 19:30:00              30            4.5
1  2024-12-02 07:30:00 2024-12-02 08:00:00              30            4.2
2  2024-12-05 19:00:00 2024-12-05 19:40:00              40            4.9
3  2024-12-01 12:00:00 2024-12-01 12:20:00              20            4.0
4  2024-12-03 18:30:00 2024-12-03 19:00:00              30            4.3
5  2024-12-05 07:00:00 2024-12-05 07:10:00              10            4.1
6  2024-12-06 08:00:00 2024-12-06 08:30:00              30            4.6
7  2024-12-03 13:00:00 2024-12-03 13:15:00              15            4.7
8  2024-12-06 19:00:00 2024-12-06 19:40:00              40            4.7
9  2024-12-04 18:00:00 2024-12-04 18:45:00              45            4.6
10 2024-12-07 12:30:00 2024-12-07 13:00:00              30            4.4
11 2024-12-07 18:00:00 2024-12-07 18:45:00              45            4.8
12 2024-12-08 19:30:00 2024-12-08 20:10:00              40            5.0
13 2024-12-08 13:30:00 2024-12-08 13:50:00              20            4.3

[14 rows x 25 columns]

# Analyze the Relationship Between Cooking Sessions and User Orders

## Group by 'User ID' and aggregate the data

In [17]:
user_behavior = merged_data.groupby('User ID').agg(
    total_orders=('Order ID', 'count'),  # Count of orders per user
    total_sessions=('Session ID', 'nunique'),  # Count of unique cooking sessions per user
    avg_session_rating=('Session Rating', 'mean'),  # Average session rating per user
    total_amount_spent=('Amount (USD)','sum')  # Total amount spent by user
)

## Display the analysis

In [18]:
print("User Behavior Analysis (Orders, Sessions, and Spending):")
print(user_behavior)

User Behavior Analysis (Orders, Sessions, and Spending):
         total_orders  total_sessions  avg_session_rating  total_amount_spent
User ID
U001                3               3            4.533333                35.0
U002                3               3            4.133333                31.0
U003                1               1            4.600000                 8.5
U004                2               2            4.700000                21.5
U005                2               2            4.500000                22.5
U006                1               1            4.800000                13.0
U007                1               1            5.000000                14.0
U008                1               1            4.300000                11.0

# Popular Dishes Analysis

In [19]:
# Count the number of orders for each dish
popular_dishes = merged_data['Dish Name'].value_counts().head(5)  # Top 10 popular dishes

# Display the top 5 most popular dishes
print("Top 5 Popular Dishes:")
print(popular_dishes)

Top 5 Popular Dishes:
Dish Name
Spaghetti          4
Grilled Chicken    3
Caesar Salad       3
Pancakes           2
Oatmeal            1
Name: count, dtype: int64

# Demographic Factors Analysis (Age and Location)

## Total orders and sessions by age group

In [20]:
age_group_analysis = merged_data.groupby('Age').agg(
    total_orders_by_age=('Order ID', 'count'),  # Count of orders per age group
    total_sessions_by_age=('Session ID', 'nunique')  # Count of unique cooking sessions per age group
)

## Total orders and sessions by location

In [22]:
location_analysis = merged_data.groupby('Location').agg(
    total_orders_by_location=('Order ID', 'count'),  # Count of orders per location
    total_sessions_by_location=('Session ID', 'nunique')  # Count of unique cooking sessions per location
)

## Display the age group analysis

In [24]:
print("\nAge Group Analysis:")
print(age_group_analysis)

Age Group Analysis:
     total_orders_by_age  total_sessions_by_age
Age
25                     1                      1
27                     2                      2
28                     3                      3
30                     2                      2
31                     1                      1
35                     3                      3
38                     1                      1
42                     1                      1

## Display the location analysis

In [25]:
print("\nLocation Analysis:")
print(location_analysis)

Location Analysis:
               total_orders_by_location  total_sessions_by_location
Location
Austin                                1                           1
Boston                                1                           1
Chicago                               1                           1
Los Angeles                           3                           3
Miami                                 1                           1
New York                              3                           3
San Francisco                         2                           2
Seattle                               2                           2